- name: Join Ubuntu servers to Active Directory
  hosts: all
  become: yes
  tasks:

    - name: Install required packages
      apt:
        name:
          - realmd
          - sssd
          - sssd-tools
          - adcli
          - oddjob
          - oddjob-mkhomedir
          - samba-common-bin
          - krb5-user
          - authselect
        update_cache: yes
        state: present

    - name: Discover domain
      command: realm discover gohel.local
      changed_when: false

    - name: Join domain
      command: >
        realm join gohel.local
        -U Administrator
        --password={{ ad_password }}
      args:
        creates: /etc/krb5.keytab

    - name: Enable mkhomedir
      command: pam-auth-update --enable mkhomedir
      changed_when: false

    - name: Restart sssd
      service:
        name: sssd
        state: restarted
        enabled: yes